@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&family=Rubik+Dirt&display=swap');

header {
    margin: 0 auto;
}


div {
    max-width: 1600px;
}
#content {
    margin: 0 auto;
}
body {
    background-color: beige;
    font-family: 'IBM Plex Mono', ('Times New Roman', Times, serif);
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #2A9D8F;
    font-family: 'Rubik Dirt', ('Times New Roman', Times, serif);
    
}
nav a:hover {
    background-color: beige;
    color: #F4A261;
}
.home-title {
    color: #F4A261;
}
h4 {
    color: black;
}
h2{
    margin: 0;
}
.book, .join  {
    background-color: beige;
    color: #264653;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: azure;
    color: #264653;
}
.join:hover {
    background-color: antiquewhite;
    color: #264653;
}
nav a { 
    text-align: center;
    color: #2A9D8F;
    text-decoration: none;
    padding: 35x;
}
#hero_box {
    margin: 0 auto;
    text-align: center;
}
#hero_msg h1 {
    text-align: center;
    width: 80px;
    margin: auto;
}
#hero_msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
.home-title {
    text-align: center;
    font-family: 'Rubik Dirt', 'Times New Romans', serif;
    font-size: 2em;
    margin-top: 10px;
}
main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #2A9D8F;
}
.msg {
    background-color: bisque;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: #264653;
}
.msg p {
    color: #264653;
    padding-bottom: 15px;
}
footer {
    background-color: beige;
    color: #264653;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: #F4A261;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer a:hover {
    color: #F4A261;
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#logo_link {
    padding-top: 5px;
}